.container{
    position: absolute;
    /* background: gray; */
    left: 300px;
    height: 100%;
    width: calc(100% - 300px);
    padding: 0 24px;
    
}
.sheet{
	min-height: 100%;
	max-height: 100%;
	overflow-y: auto;
}
.v-main{
	position: absolute;
	top: 64px;
	min-width: 100vw;
	height: calc(100vh - 64px);
	margin: 0 !important;
	padding: 0 !important;
}
.title{
	font-size: 40px;
	line-height: 48px;
}

.gray{
	background: gray;
}